<%- include('cabecera'); %>
<h2>Inmueble número <%= inmueble.id %> </h2>

<div class="card" style="width: 100rem; margin: 0 auto;">
  <img class="card-img-top" src="/public/imgs/<%= inmueble.imagen %>" style="width: 100rem;" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Tipo de inmueble: <%= inmueble.tipo.nombre %></h4>
    <p class="card-text">Descripción: <%= inmueble.descripcion %></p>
    <p class="card-text">Número de habitaciones: <%= inmueble.numero_habitaciones %></p>
  </div>
  <div class="card-footer">
    <p class="float-left"><%= inmueble.superficie %> m2</p>
    <p class="float-right"><%= inmueble.precio %> €</p>
    </div>
</div>
<%- include('pie'); %>