<%- include('cabecera'); %>
<h1>Listado de inmuebles</h1>

<% 
if (inmuebles.length > 0)
{ %>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Superficie</th>
        <th>Precio</th>
        <th>Imagen</th>
        <th>Más info</th>
        <th>Operaciones</th>

      </tr>
    </thead>
    

    <% inmuebles.forEach(function(inmueble) { %>
        <tbody>
          <td class="align-middle"><%= inmueble.tipo.nombre %></td>
          <td class="align-middle"><%= inmueble.superficie %> metros cuadrados</td>
          <td class="align-middle"><%= inmueble.precio %> €</td>
          <td><img src="/public/imgs/<%= inmueble.imagen %>" style="width: 100px;"></td>
          <td class="align-middle"><a href="inmuebles/<%= inmueble.id %>"><button class="btn btn-info">Más info</button></a></td>
          <td class="align-middle">
            <a href="inmuebles/<%= inmueble.id %>"><button class="btn btn-secondary">Editar</button></a>
            <a onclick="eliminarInmueble('<%= inmueble.id %>')"><button class="btn btn-danger">Eliminar</button></a>
          </td>
        </tbody>
      <% }); %>
    
  </table>
</div>

<% } else { 
%>
    <p class="text-danger">No se han encontrado inmuebles</p>
<% } %>
<%- include('pie'); %>