<%- include('cabecera'); %>

<h1>Formulario de alta de nuevo usuario</h1>

<div class="container">
<form action="/usuarios/registro" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre..." required/>
    </div>
    <div class="form-group">
        <label for="login">Login:</label>
        <input type="text" class="form-control" id="login" name="login" placeholder="Login..." required/>
    </div>
    <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña..." required/>
    </div>

    <button type="submit" value="Submit" class="btn btn-primary">Enviar</button>
</form>
</div>

<%- include('pie'); %>